<aside>
  <h1>Production Technology</h1>
  <table>
    <tbody>
      <tr *ngFor="let producerType of producerTypes">
        <td>{{producerType | decamelize}}</td>
        <td>
          <select [(ngModel)]="state.preferredProducer[producerType]" (ngModelChange)="update()">
            <option *ngFor="let producer of producerNames(producerType)" [value]="producer">{{producer | decamelize}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <h1>Available Modules</h1>
  <table>
    <tbody>
      <tr *ngFor="let module of moduleNames">
        <td><input type="checkbox" [(ngModel)]="state.available[module]" (ngModelChange)="update()"></td>
        <td><a [href]="'https://stable.wiki.factorio.com/' + (module | wikiPage)"><img [src]="'https://stable.wiki.factorio.com/images/' + (module | wikiPage) + '.png'" width="16"></a></td>
        <td>{{module | decamelize}}</td>
      </tr>
    </tbody>
  </table>
</aside>

<table>
  <thead>
    <tr>
      <th colspan="2">Product</th>
      <th colspan="4">Pollution by</th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th>Direct</th>
      <th>Energy</th>
      <th>Inputs</th>
      <th>Item</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let craft of crafts">
      <td><a [href]="'https://stable.wiki.factorio.com/' + (craft.product | wikiPage)"><img [src]="'https://stable.wiki.factorio.com/images/' + (craft.product | wikiPage) + '.png'" width="16"></a></td>
      <td>{{craft.product | decamelize}}</td>
      <td style="text-align: right">{{craft.pollutionByCraft | number:'0.2-2'}}</td>
      <td style="text-align: right">{{craft.pollutionByEnergy | number:'0.2-2'}}</td>
      <td style="text-align: right">{{craft.pollutionByInputs | number:'0.2-2'}}</td>
      <td style="text-align: right">{{craft.pollution | number:'0.2-2'}}</td>
    </tr>
  </tbody>
</table>
