body {
	font-family: sans-serif;
}

aside {
	float: left;
	margin-right: 3em;
}

aside > h1:first-child {
	margin-top: 0;
}

h1 {
	font-size: 1em;
	margin-bottom: 0.5em;
}

table {
	border-collapse: collapse;
	margin-bottom: 1em;
}

th {
	text-align: left;
}

th, td {
	padding: 0 0.5em;
}

td > select {
	width: 100%;
}

input {
	border-style: none;
}

.formGrid {
	display: grid;
	grid-template-columns: auto 1fr;
	column-gap: 1em;
}

.checkboxGrid {
	display: grid;
	grid-template-columns: auto auto 1fr;
	align-items: center;
}