body {
	font-family: sans-serif;
}

aside {
	float: left;
	margin-right: 3em;
}

aside > h1:first-child {
	margin-top: 0;
}

h1 {
	font-size: 1em;
	margin-bottom: 0.5em;
	text-align: center;
}

table {
	border-collapse: collapse;
	margin-bottom: 1em;
}

td {
	padding: 0 0.2em;
}

td > select {
	width: 100%;
}